<h1>New Admin</h1>

<%= form_with model: @admin do |form| %>
  <div>
    <%= form.label :medicineName %><br>
    <%= form.text_field :medicine_name %>
    <% @admin.errors.full_messages_for(:medicine_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :medicinePrice %><br>
    <%= form.text_area :medicine_price %>
    <% @admin.errors.full_messages_for(:medicine_price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "Back", admins_path %>
