<p><%= @admin.medicine_name %></p>
<p><%= @admin.medicine_price %></p>

<ul>
  <li><%= link_to "Edit", edit_admin_path(@admin) %></li>
  <li><%= link_to "Destroy", admin_path(@admin), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
<%= link_to "Back", admins_path %>